{% extends 'base.html' %} {% load static %} {% block content %} 
{% include 'layout_masyarakat/navbar.html' %}

<div class="main_content">
  <section class="section">
  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  />
  <div id="map" style="height: 600px;">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script>
      var myMap = L.map("map").setView(
        [5.549037601496668, 95.31928497494027],
        11
      );
      var marker;

      // Tambahkan layer peta
      L.tileLayer("http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {
        maxZoom: 20,
        subdomains: ["mt0", "mt1", "mt2", "mt3"],
      }).addTo(myMap);
    </script>
  </div>
</section>
</div>

{% include 'layout_masyarakat/footer.html' %} {% endblock content %}
