{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% include 'layout_admin/navbar.html' %} 
{% include 'layout_admin/sidebar.html' %}

 <!-- Main Content -->
 <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Halaman Edit Koordinat</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
            <div class="breadcrumb-item"><a href="#">Data Sekolah</a></div>
            <div class="breadcrumb-item">Edit Data Sekolah</div>
        </div>
      </div>

      <div class="section-body">
        <h2 class="section-title">Input Koordinat</h2>

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row mb-4">
                  <div class="col-12 col-md-6 col-lg-4">
                    <div id="map" style="height: 430px;border-radius: 30px;">
                      <!-- leaflet js-->
                      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" />
                      <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"></script>
                      <!-- leaflet pluggin js-->
                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.css"/>
                      <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/0.4.2/leaflet.draw.js"></script>
                      <script>
                        var myMap = L.map("map").setView([5.549037601496668, 95.31928497494027],11);
                        //var marker;
                  
                        // Tambahkan layer peta
                        L.tileLayer("http://{s}.google.com/vt?lyrs=m&x={x}&y={y}&z={z}", {
                          maxZoom: 20,
                          subdomains: ["mt0", "mt1", "mt2", "mt3"],
                        }).addTo(myMap);

                        // FeatureGroup is to store editable layers
                        var drawnFeatures = new L.FeatureGroup();
                        myMap.addLayer(drawnFeatures);

                        var drawControl = new L.Control.Draw({
                          edit: {
                            featureGroup: drawnFeatures,
                            remove: false
                          }
                        });
                        myMap.addControl(drawControl);

                        myMap.on("draw:created", function(e){
                          var type = e.layerType;
                          var layer = e.layer;
                          drawnFeatures.addLayer(layer);
                        });

                      </script>
                    </div>
                    <div class="card-footer text-right">
                      <a class="btn btn-secondary" href=" {% url "edit_data" %} ">Kembali</a>
                      <a class="btn btn-primary" href=" {% url "dashboard" %}" >Kirim</a>
                    </div>
                  </div>
                </div>
                <div id="map" data-height="400"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
</div>

  {% include 'layout_admin/footer.html' %} {% endblock content %}