{% extends 'base.html' %} 
{% load static %} 
{% block content %} 
{% include 'layout_admin/navbar.html' %} 
{% include 'layout_admin/sidebar.html' %}

 <!-- Main Content -->
 <div class="main-content">
    <section class="section">
      <div class="section-header">
        <h1>Halaman Pengisian Nilai Akreditasi </h1>
        <div class="section-header-breadcrumb">
          <div class="breadcrumb-item active"><a href="#">Dashboard</a></div>
          <div class="breadcrumb-item"><a href="#">Data Sekolah</a></div>
          <div class="breadcrumb-item">Isi Data Sekolah</div>
        </div>
      </div>

      <div class="section-body">
        <h2 class="section-title">Pengisian Nilai Akreditasi</h2>

        <div class="row">
          <div class="container">
            <div class="card">
              <form>
                <div class="card-body">
                  <div class="form-group">
                    <label>Standar Kompetensi Dasar</label>
                    <input type="number" class="form-control" required=""></input>
                  </div>
                  <div class="form-group">
                    <label>Standar Isi</label>
                    <input type="number" class="form-control" required=""></input>
                  </div>
                  <div class="form-group">
                    <label>Standar Proses</label>
                    <input type="number" class="form-control" required=""></input>
                  </div>
                  <div class="form-group mb-0">
                    <label>Standar Penilaian Pendidikan</label>
                    <input type="number" class="form-control" required=""></input>
                  </div>
                  <div class="form-group">
                    <label>Standar Tenaga Kependidikan</label>
                    <input type="text" class="form-control" required="">
                  </div>
                  <div class="form-group">
                    <label>Standar Sarana dan Prasarana</label>
                    <input type="text" class="form-control" required="">
                  </div>
                  <div class="form-group">
                    <label>Standar Pengelolaan</label>
                    <input type="text" class="form-control" required="">
                  </div>
                  <div class="form-group">
                    <label>Standar Pembiayaan</label>
                    <input type="text" class="form-control" required="">
                  </div>
                  <div class="form-group">
                    <label>Nilai Akhir</label>
                    <input type="text" class="form-control" required="">
                  </div>
                  <div class="form-group">
                    <label>Akreditasi</label>
                    <input type="text" class="form-control" required="">
                  </div>
                <div class="card-footer text-right">
                  <a class="btn btn-secondary" href=" {% url "tambah_data" %} ">Kembali</a>
                  <a class="btn btn-primary" href=" {% url "koordinat" %} ">Selanjutnya</a>
                </div>
              </form>
            </div>
          </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  {% include 'layout_admin/footer.html' %} {% endblock content %}