{% block content %}
<div class="navbar-bg"></div>
  <nav class="navbar navbar-expand-lg main-navbar">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav navbar-left">
            <a class="btn btn-primary mr-6" aria-current="page" href="{% url "landing_page" %}">Home</a>
            <a class="btn btn-primary ml-3" aria-current="page" href="{% url "map" %}">Map</a>
            <a class="btn btn-primary ml-3" href="{% url "about" %}">About</a>
            <a class="btn btn-primary ml-3" href="{% url "panduan_masyarakat" %}">Panduan</a>
          </div>
      </div>
      <ul class="navbar-nav navbar-right">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="{% url "home" %}" class="btn btn-primary mr-4" type="button">Login</a>
        </div>
      </ul>
  </nav>
</div>

{% endblock content %}